
<div class="layout-column layout-margin">
    {{cash-flow-chart startingBalance=400 cashFlows=model.cashFlows}}

    {{#paper-list}}
        {{#each model.cashFlows as |flow|}}
            {{cash-flow cashFlow=flow}}
        {{/each}}
    {{/paper-list}}
</div>
